body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $teal-050;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p, body span {
  font-family: $treetasker-family;
}

body h1 {
  color: $teal-100;
}

body p, body span {
  color: $blue-grey-900;
}

.home-nav p {
  padding: 5px 0 0 0;
  margin: 0;
}

.home-nav ul {
  padding: 6px 0 0 0;
}

.home-nav li {
  text-align: center;
  padding: 0 5px;
}

.home-nav li i {
  padding-top: 19px;
}

.home-nav li.priority-do:hover a, .home-nav li.priority-do:hover p {
  color: $teal-300 !important;
  font-weight: bold;
}

.home-nav li.priority-decide:hover a, .home-nav li.priority-decide:hover p {
  color: $blue-grey-300 !important;
  font-weight: bold;
}

.home-nav li.priority-delegate:hover a, .home-nav li.priority-delegate:hover p {
  color: $red-300 !important;
  font-weight: bold;
}

.home-nav li.priority-depository:hover a, .home-nav li.priority-depository:hover p {
  color: $yellow-300 !important;
  font-weight: bold;
}

.home-nav li.profile a:hover {
  font-weight: bold;
}

.home-nav, .home-tasks, .home-stats, .home-tasks .col {
  border: 2px solid $blue-grey-900;
  border-radius: 10px
}

.home-tasks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home-tasks a, a.tt-link {
  text-decoration: none;
  color: $blue-grey-900;
}

.home-tasks a:hover, a.tt-link:hover {
  font-weight: bold;
}

.home-tasks .priority-do {
  background-color: $teal-300;
}

.home-tasks .priority-decide {
  background-color: $blue-grey-300;
}

.home-tasks .priority-delegate {
  background-color: $red-300;
}

.home-tasks .priority-depository {
  background-color: $yellow-300;
}
