body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-nav p {
  padding: 5px 0 0 0;
  margin: 0;
}

.home-nav ul {
  padding: 6px 0 0 0;
}

.home-nav li {
  text-align: center;
  padding: 0 5px;
}

.home-nav li i {
  padding-top: 19px;
}

.home-nav li.priority-do a:hover {
  color: #90EE90 !important;
  font-weight: bold;
}

.home-nav li.priority-decide a:hover {
  color: #ADD8E6 !important;
  font-weight: bold;
}

.home-nav li.priority-delegate a:hover {
  color: #F08080 !important;
  font-weight: bold;
}

.home-nav li.priority-depository a:hover {
  color: #D3D3D3 !important;
  font-weight: bold;
}

.home-nav li.profile a:hover {
  font-weight: bold;
}

.home-nav, .home-tasks, .home-stats, .home-tasks .col {
  border: 2px solid;
  border-radius: 10px
}

.home-tasks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home-tasks a, a.tt-link {
  text-decoration: none;
  color: #000000;
}

.home-tasks a:hover, a.tt-link:hover {
  font-weight: bold;
}

.home-tasks .priority-do {
  background-color: #90EE90;
}

.home-tasks .priority-decide {
  background-color: #ADD8E6;
}

.home-tasks .priority-delegate {
  background-color: #F08080;
}

.home-tasks .priority-depository {
  background-color: #D3D3D3;
}
