.task-edit h1 {
  display: inline;
}

.task-edit a {
  float: right;
}

.card-header {
  background-color: $blue-grey-100;
}

.card-body {
  background-color: $blue-grey-050;
}

.card-header p {
font-weight: bold;
font-style: italic;
margin: 0;
float: right;
}
