.task-edit h1 {
  display: inline;
}

.task-edit a {
  float: right;
}

.card-header {
  background-color: $blue-grey-100;
}

.card-body {
  background-color: $blue-grey-050;
}

.card-header p {
font-style: italic;
}

.card-header-priority p {
  font-weight: normal;
  font-style: italic;
  margin: 0;
  }

.card-header-info {
  float: left;
}

.card-header-action {
  float: right;
  font-weight: bold;
}

a.edit {
  color: $teal-500;
}

a.complete {
  color: $blue-500;
}

a.delete {
  color: $red-900;
}
