<div class="card-header card-header-priority">
  <p>
    <%= link_to '<i class="fa-regular fa-eye"></i> Details'.html_safe, task, class: "tt-link" %> |
    <%= link_to '<i class="fa-regular fa-eye"></i> Delete'.html_safe, task, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete this task?"}, class: "tt-link" %>
  </p>
</div>
