<div class="card-header rounded-top-4">
  <div class="card-header-info">
    <% if task.completed %>
      <p>Status: Done</p>
    <% else %>
      <p class="mb-1"><i class="fa-regular fa-lightbulb fa-xl"></i> Status: Open</p>
      <% if task.priority == 3 && task.created_at.strftime('%A, %B %e, %Y') == task.deadline.strftime('%A, %B %e, %Y') %>
        <p class="mb-0"><i class="fa-regular fa-calendar-days fa-xl"></i> Due on <%= task.deadline.strftime('%a, %b %e, %Y at %H:%M') %></p>
      <% elsif task.priority == 2 %>
        <p class="mb-0"><i class="fa-regular fa-calendar-days fa-xl"></i> Due on <%= task.deadline.strftime('%a, %b %e, %Y at %H:%M') %></p>
      <% end %>
    <% end %>
  </div>
  <div class="card-header-action">
    <% if task.priority == 1 %>
      <p class="mb-0">DO</p>
    <% elsif task.priority == 2 %>
      <p class="mb-0">DECIDE</p>
    <% elsif task.priority == 3 %>
      <p class="mb-0">DELEGATE</p>
    <% elsif task.priority == 4 %>
      <p class="mb-0">DEPOSITORY</p>
    <% end %>
  </div>

</div>
