<div class="card-header rounded-top-4">
  <% if task.priority == 1 %>
    <p>DO</p>
  <% elsif task.priority == 2 %>
    <p>DECIDE</p>
  <% elsif task.priority == 3 %>
    <p>DELEGATE</p>
  <% elsif task.priority == 4 %>
    <p>DEPOSITORY</p>
  <% end %>
</div>
