<div id="<%= dom_id task %>">
  <div class="card rounded-4">
    <%= render partial: 'tasks/task_priority_card_header', locals: { task: task } %>
    <div class="card-body rounded-4">
      <%= render partial: 'tasks/task_priority_card_body', locals: { task: task } %>
    </div>
  </div>
</div>
