
<div class="col mb-3 task-edit align-middle">
  <h2>Editing task</h2>
  <%= link_to "Show this task", @task, class: "btn btn-outline-success" %>
  <% link_to "Back to tasks", tasks_path %>
</div>

<%= render "form", task: @task %>
