<div class="row justify-content-center">
  <div class="col-6">
    <h2>Create a new task</h2>
    <%= render "form", task: @task %>
    <br>
    <div>
      <%# link_to "Back to tasks", tasks_path %>
    </div>
  </div>
</div>
