<p style="color: green"><%= notice %></p>

<div class="container d-flex">
  <div class="col">
    <%= render @task %>
    <div class="buttons-group mt-3">
      <%= link_to "Edit this task", edit_task_path(@task), class: "btn btn-success" %>
      <%= link_to "Back to tasks", root_path, class: "btn btn-outline-success" %>
    </div>
  <%# button_to "Destroy this task", @task, method: :delete, class: "btn btn-warning ms-3" %>
  </div>

  <div class="canvas-container col" data-tree-count="1">
    <div class="col">
      <canvas id="myCanvas" class="border p-3" style="height: 70vh; width: 30vh;"></canvas>
    </div>
  </div>
</div>
