<div class="container-fluid footer border-top p-0">
  <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 px-5 mb-4">
    <div class="col-12 d-flex justify-content-center px-2 pt-2">
      <ul class="nav">
        <li><a class="link-secondary text-decoration-none" href="/about">About</a></li>
        <li class="px-5"><a class="link-secondary text-decoration-none" href="/team">Team</a></li>
        <li><a class="link-secondary text-decoration-none" href="/pricing">Pricing</a></li>
      </ul>
    </div>

    <div class="col-12 d-flex pt-2">
      <div class="col-10 d-flex align-items-end">
        <%= image_tag "treetasker-logo-nobg.png", alt: "TreeTasker - Productivity Growth", size: "50x50" %>
        <small>© 2023 TreeTasker, Inc. All rights reserved.</small>
      </div>
      <div class="col-2 d-flex align-items-end">
        <ul class="nav">
          <li><a class="text-body-secondary" href="https://github.com/ekyburz/treetasker"><i class="fa-brands fa-github"></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/treetasker"><i class="fa-brands fa-x-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
