<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag "treetasker-logo.png", alt: "TreeTasker - Productivity Growth", size: "256x256" %>
      </div>
      <div class="col-lg-6">
        <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Productivity Growth</h2>
        <p class="lead">Plant a tree and get things done!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-success"><%= link_to "Sign-up", new_user_registration_path(), class: "link-body-emphasis text-decoration-none" %></button>
        </div>
      </div>
    </div>
  </div>
