<p class="p-notice" style="color: green"><%= notice %></p>
<div class="d-flex justify-content-between align-items-center">
  <h2 class="me-3"><strong>About</strong></h2>
</div>

<div class="container bg-light rounded-4">
  <p>A ToDo-List to organize your tasks with a clutterfree experience!</p>
</div>
