<p class="p-notice" style="color: green"><%= notice %></p>
<div class="d-flex justify-content-between align-items-center">
  <h2 class="me-3"><strong>About <span class="green-text">Treetasker</span></strong></h2>
</div>

<div class="mb-3">
  <h5>Productivity Growth - <span class="font-style">Plant a Tree and Get Things Done!</span></h5>
</div>

<div class="container bg-light rounded-4 border border-dark p-3">
  <p>
    Welcome to Treetasker, where your to-do list blossoms into productivity! We are a Zurich-based company committed to transforming the way you organize and accomplish your tasks. Our innovative online todo-list app, founded in 2023, not only offers a clutter-free experience but also adds a unique touch to your daily routine.
  </p>
  <p><span class="green-text font-style"><strong>Our Mission</strong></span></p>
  <p>
    At Treetasker, our mission is simple yet profound – to make productivity natural and enjoyable. We believe that the key to effective task management lies in simplicity and a connection to nature. That's why our app is designed to help you plant a virtual tree for every task you complete, symbolizing growth in both your personal and professional life.
  </p>
  <p><span class="green-text font-style"><strong>Why Treetasker?</strong></span></p>
  <p>1. Clutter-Free Interface: Our user-friendly design ensures that managing your tasks is effortless and straightforward.</p>
  <p>2. Nature-Inspired Motivation: Watch your virtual forest grow as you complete tasks, providing a unique and fulfilling sense of achievement.</p>
  <p>3. Swiss Precision and Reliability: Rooted in the heart of Zurich, we embody the Swiss ethos of precision and dependability in everything we do.</p>
  <p>4. Founded with Passion: Launched in 2023, our company is driven by a passion for productivity and a love for nature.</p>
  <p><span class="green-text font-style"><strong>Our Journey</strong></span></p>
  <p>TreeTasker began as a vision to integrate the simplicity of nature with the complexities of daily tasks. Our founders, inspired by the tranquil beauty of Swiss landscapes, envisioned a tool that would not only organize tasks but also promote a sense of peace and accomplishment. From this vision, TreeTasker was born – an app that does more than just manage your to-dos; it inspires you to grow.</p>
  <p><span class="green-text font-style"><strong>Join Our Community</strong></span></p>
  <p>We invite you to join the TreeTasker community and experience the joy of productive task management. Plant your first tree today and embark on a journey towards a more organized, peaceful, and productive life.</p>
  <p><span class="greener-text"><strong>Welcome to TreeTasker – where productivity meets growth!</strong></span></p>
</div>
