<div class="col">
  <h2 class="text-center mb-3"><strong>Pricing</strong></h2>
</div>

<div class="container bg-light rounded-4 border border-dark mt-3 mb-3 ">
  <p class="mt-3">Select a pricing plan that fits your needs, from basic subscriptions to tiered options. Upgrade to our premium version for exclusive benefits like advanced task analytics, personalized productivity insights, unlimited tree varieties for your virtual garden, and priority access to new features. Elevate your experience and boost productivity with our premium subscription.</p>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">CHF</small> <strong>0</strong><small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Plant and Grow Virtual Trees!</li>
              <li>Basic Task Management</li>
              <li>Community Support</li>
              <li>Access to Help Center</li>
            </ul>
            <%= link_to "Sign up for Free!", new_user_registration_path(), class: "btn btn-outline-success btn-lg w-100 " %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-success">
          <div class="card-header py-3 text-bg-success border-success">
            <h4 class="my-0 fw-normal">Green Enthusiast</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">CHF</small> <strong>0.99</strong><small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Everything in Free, plus:</li>
              <li>Advanced Task Analytics</li>
              <li>Expanded Tree Variety</li>
              <li>Priority Email Support</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-success">Coming soon</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Tree Master</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">CHF</small> <strong>2.99</strong><small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Everything in Green Enthusiast, plus:</li>
              <li>Personalized Productivity Insights</li>
              <li>Unlimited Tree Varieties</li>
              <li>Early Access to New Features</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-success">Coming soon</button>
          </div>
        </div>
      </div>
    </div>
    <h4 class="text-center mb-4">Compare Plans</h4>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Free</th>
            <th style="width: 22%;">Green Enthusiast</th>
            <th style="width: 22%;">Tree Master</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Plant and Grow Virtual Trees!</th>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Basic Task Management</th>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Community Support</th>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Access to Help Center</th>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Advanced Task Analytics</th>
            <td></td>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Expanded Tree Variety</th>
            <td></td>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Priority Email Support</th>
            <td></td>
            <td><i class="fa-solid fa-check"></i></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Personalized Productivity Insights</th>
            <td></td>
            <td></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Unlimited Tree Varieties</th>
            <td></td>
            <td></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Early Access to New Features</th>
            <td></td>
            <td></td>
            <td><i class="fa-solid fa-check"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
