<p class="p-notice" style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h2 class="me-3"><strong>Team</strong></h2>
</div>

<div class="container bg-light rounded-4 border border-dark p-2">
  <p class="mt-3 mx-2"><strong>Meet the TreeTasker Team</strong></p>
  <div class="member m-2">
    <%= image_tag "etienne-pic.png", class: "avatar border border-success" %>
    <h4 class="mt-2"><span class="green-text">Etienne</span> <span class="font"> Founder</span></h4>
    <%# <p>Some text ...</p> %>
  </div>
  <div class="member m-2">
    <%= image_tag "anhnam-pic2.jpeg", class: "avatar border border-success" %>
    <h4 class="mt-2"><span class="green-text">Anh Nam</span> <span class="font"> Co-Founder</span></h4>
    <%# <p>Some text ...</p> %>
  </div>
  <div class="member m-2">
    <%= image_tag "nicolas-pic.jpeg", class: "avatar border border-success" %>
    <h4 class="mt-2"><span class="green-text">Nicolas</span> <span class="font"> Co-Founder</span></h4>
    <%# <p>Some text ...</p> %>
  </div>
</div>
