<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h2 class="me-3"><strong>Team</strong></h2>
</div>

<div class="container bg-light rounded-4">
  <p>Meet the TreeTasker Team</p>
  <div class="member">
    <img class="avatar" src="#">
    <h4>Etienne - Founder</h4>
    <p>Some text ...</p>
  </div>
  <div class="member">
    <img class="avatar" src="#">
    <h4>Anh Nam - Co-founder</h4>
    <p>Some text ...</p>
  </div>
  <div class="member">
    <img class="avatar" src="#">
    <h4>Nicolas - Co-founder</h4>
    <p>Some text ...</p>
  </div>
</div>
