<%# <div data-update-canvas-scene="canvas"> %>
  <div class="canvas-container w-100 mt-5" data-tree-count="<%= @filtered_tasks.count %>">
    <div class="col">
      <canvas id="myCanvas" class="border p-3 w-100"></canvas>
    </div>
  </div>
</div>
