<div class="container">
  <div class="row w-100 text-left mt-3">
    <div class="col-10">
      <h1><%= @user.first_name.pluralize %> Garden!</h1>
      <h2>User Status: <%= @user.status.capitalize %></h2>
    </div>
    <div class="col-2 text-right">
      <%= link_to "Home", root_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="middle-container w-100 mt-5">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 bg-white border">
          <h2>Statistics</h2>
          <p>You have planted a total of <strong><%= @garden.trees.count %></strong> trees!</p>
        </div>
      </div>
      <div class="col">
        <div class="p-3 bg-white border">
          <h2>Filter by:</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="canvas-container w-100 mt-5">
  <div class="col">
    <canvas id="myCanvas" class="border p-3 w-100"></canvas>
  </div>
</div>
