.avatar-nav {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar-nav:hover {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: #1EDD88 1px solid;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: #1EDD88 1px solid;
}

.profile-picture {
  position: relative;
}

.fa-camera {
  position: absolute;
  bottom: -0.5rem;
  right: -0.1rem;
}

.camera-for-icon {
  position: absolute;
  bottom: -0.5rem;
  right: -0.6rem;
}

// * {
//   border: 1px solid red;
// }
