.avatar {
  width: 75px;
  border-radius: 50%;
}

.profile-picture {
  position: relative;
}

.fa-camera {
  position: absolute;
  bottom: -0.5rem;
  right: -0.1rem;
}

// * {
//   border: 1px solid red;
// }
